.git/*
.vs/*
node_modules/*
doc_generator/**/*.js
doc_generator/**/*.json
tmp/*
.vscode/*
*.cmd
.tsdrc
.idea
/package/**/*
/.gitattributes
project.json
/lib_typings
npm-debug.*
_site
.sass-cache
Gemfile.lock
/typings
/Properties
/web.config
/travis_code.txt
/Startup.cs
/project.lock.json
/hosting.ini
